.pinkBG{
    background-color: pink;
}

div{
    background-color:brown
}

.greenBG{
    background-color: greenyellow;
}

.yellowText{
    color:yellow
}

.whiteText{
    color:white
}

.blueText{
    color:blue
}

.redText{
    color:red
}
.purpleText{
    color:purple
}